<header class="blogHeader">
  <h1 class="blogHeader__title"><a class="blogHeader__title-link" href="/blog">{{ site.blogTitle }}</a></h1>
  <p class="blogHeader__subtitle">{{ site.blogSubtitle }}</p>

  <nav class="blogHeader__navbar">
    <ul class="navbar__menu">
      <li class="menu-item"><a href="/blog/o-blogu" class="menu-link">O Blogu</a></li>
      <li class="menu-item"><a href="/blog/posty" class="menu-link">Wszystkie posty</a></li>
      <li class="menu-item"><a href="/" class="menu-link">Portfolio</a></li>
    </ul>
  </nav>
</header>