<section id="sekcja-blog" class="section home-blog">
  <header class="section__header">
    {%- for content in site.data.site_texts -%}
      {%- if content.section == "Blog" -%}
        <h2 class="section__title">{{ content.section }}</h2>
        <p class="section__subtitle">{{ content.sectionSubtitle }}</p>
      {%- endif -%}
    {%- endfor -%}
  </header>
  <div class="home-blog__posts-container">
    {%- for post in site.posts limit:3 -%}
      <article class="home-blog__article">
        <div data-bg="url('{{ post.thumbnail }}')" class="image-container lazy"></div>
        <div class="home-blog__article--padding">
          <h3 class="home-blog__article-title"><a class="home-blog__header-link" href="{{ post.url }}">{{ post.title }}</a></h3>
          {{ post.excerpt | truncate: 300 }}
          <span class="home-blog__article-date"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%m.%Y' }}</time></span>
        </div>
      </article>
    {%- endfor -%}
  </div>
</section>